body {
    background: #353535;
    font-family: Arial, Verdana, sans-serif;
    color: lightgray;
}

.media img{
    width: 175px;
    height: 130px;
}

.navbar-nav .nav-item .nav-link{
    color: lightgray;
}

.navbar-nav .nav-item a:hover{
    display: block;
    color: gold;
}

.navbar{
    background-color: #353535;
}

.card {
    display:inline-block;
}